*
body{
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
  background: linear-gradient(to right, #eecda3, #ef629f);
  min-height: 120vh;
}

#name
{
	width:94%;
	padding:5px;
	border-radius:7px;
	outline:0;
	border:1px solid black;
}
#sub
{
	width:150px;
	padding:5px;
	border-radius:7px;
	outline:0;
	border:1px solid black;
	font-family:serif;
	font-size:18px;
	background:white;
	color:black;	
}
#sub:hover{
	background:red;
}
::placeholder{
	color:gray;
}
#num
{
	width:26%;
	padding:5px;
	border-radius:7px;
	outline:0;
	border:0.5px solid black;
}
#number
{
	width:66%;
	padding:5px;
	border-radius:7px;
	outline:0;
	border:1px solid black;
}
table{
	color:white;
	border-collapse:collapse;
	font-size:16px;
	font-family:serif;
	padding:5px;
	border:4px solid white;
	text-align:-webkit-center;
	background: rgba(0,0,0,0.5);
}	